.swiper-button-prev,
.swiper-button-next {
  position: unset !important;
  width: auto !important;
  top: unset !important;
  bottom: unset !important;
  right: unset !important;
  left: unset !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  /* display: none !important; */
  color: black;
  background-color: white;
  padding: 1rem 1.2rem;
  border-radius: 100%;
  font-size: 1rem !important;
  font-weight: 900;
}